@model HotelReservationsManager.Models.Room
@{
    ViewData["Title"] = "Room Details";
}

<h2>Room Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Room Number</dt>
        <dd class="col-sm-10">@Model.RoomNumber</dd>
        <dt class="col-sm-2">Capacity</dt>
        <dd class="col-sm-10">@Model.Capacity</dd>
        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@Model.Type</dd>
        <dt class="col-sm-2">Available</dt>
        <dd class="col-sm-10">@Model.IsAvailable</dd>
        <dt class="col-sm-2">Adult Price</dt>
        <dd class="col-sm-10">@Model.AdultPricePerBed</dd>
        <dt class="col-sm-2">Child Price</dt>
        <dd class="col-sm-10">@Model.ChildPricePerBed</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>